<!-- articulo_modificar.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Artículo</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <!-- Para los iconos -->
</head>
<body>
    <header>
        <nav>
            <h1>Gestión de Artículos</h1>
        </nav>
    </header>

    <main>
        <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError" >
            <div class="card-body">
                <h5 class="card-title">Error!</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>
        <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
            <div class="card-body">
                <h5 class="card-title">Exito!</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
        <div class="form-container">
            <h2>Modificar Artículo</h2>
            <form th:action="@{/articulo/modificar/{idArticulo}(idArticulo=${articulo.idArticulo})}" method="post">
                <label for="nombreArticulo">Nombre:</label>
                <input type="text" id="nombreArticulo" name="nombreArticulo" th:value="${articulo.nombreArticulo}" required>
                
                <label for="descripcionArticulo">Descripción:</label>
                <input type="text" id="descripcionArticulo" name="descripcionArticulo" th:value="${articulo.descripcionArticulo}" required>
                
                <label for="idFabrica">Fábrica:</label>
                <select id="idFabrica" name="idFabrica" required>
                    <option th:each="fabrica : ${fabricas}" th:value="${fabrica.idFabrica}" th:text="${fabrica.nombreFabrica}" th:selected="${fabrica.idFabrica == articulo.fabrica.idFabrica}"></option>
                </select>
                
                <br>
                <button type="submit" class="btn">Guardar Cambios</button>
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Gestión de Artículos</p>
    </footer>
</body>
</html>